[submodule "core/AutoRealize"]
	path = core/AutoRealize
	url = https://github.com/DonaLdZY/AutoRealize.git
[submodule "core/AlgoEvolve"]
	path = core/AlgoEvolve
	url = https://github.com/DonaLdZY/AlgoEvolve.git
[submodule "core/AutoReport"]
	path = core/AutoReport
	url = https://github.com/DonaLdZY/AutoReport.git
